* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
}
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 40px 0;
  width: 100%;
  height: calc(100vh - 56px);
  background-color: #fff;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: left;
}
.add-new-movie {
  width: fit-content;
}
.list-group {
  width: 270px;
}
.list-group .list-group-item {
  height: 50px;
  font-size: 22px;
}
.main-table {
  width: 700px !important;
}
.table tr {
  height: 40px;
  padding: 20px 0;
}
.table td {
  line-height: 40px;
}
.table td a {
  text-decoration: none;
}
.table td a:hover {
  text-decoration: underline;
}
.btn-group {
  width: fit-content;
}
.home-login-btn.hide {
  display: none;
}
.logout-btn {
  display: none;
}
.logout-btn.show {
  color: red;
  display: flex;
}
.home-register-btn.hide {
  display: none;
}
.new-container {
  padding: 50px;
}
